{% load achilles %}
<!DOCTYPE html>
<html>
  <head>
    <title>Django Achilles demo</title>
    <style type="text/css">
        @media all and (min-width: 768px) {
            .sec {
                width: 50%;
                float: left;
            }
        }
    </style>
  </head>
  <body>
    {% csrf_token %}
    <div>
      <ul id="messages">
       {% for message in messages %}
         <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
       {% endfor %}
      </ul>
    </div>
    <div class="sec">
        <h1>Blocks</h1>
        <h3>Dynamic content</h3>
        {% ablock 'example:counter' %}
        <a href="javascript:achilles.action('blocks:update', ['example:counter'])">Update!</a>

        <h3>Block arguments</h3>
        {% ablock 'example:with_args' 'a' %}
        <a href="javascript:achilles.loadInto(achilles.block('example:with_args'), 'example:with_args', 'a')">A</a> |
        <a href="javascript:achilles.loadInto(achilles.block('example:with_args'), 'example:with_args', 'b')">B</a> |
        <a href="javascript:achilles.loadInto(achilles.block('example:with_args'), 'example:with_args', 'c')">C</a>

        <h3>Lazy load</h3>
        {% ablock_lazy 'example:slow' %}
    </div>
    <div class="sec">
        <h1>Actions</h1>
        <div>
            <h3>Arguments and return values</h3>
            <input type="text" id="ma" size="4" value="8" /> x
            <input type="text" id="mb" size="4" value="7" /> =
            <input type="text" id="mres" size="7" value="?" disabled="disabled" />
            <span id="merror" style="color: red"></span>

            <br />

            <script type="text/javascript">
                function multiply() {
                    achilles.action('example:multiply', [$('#ma').val(), $('#mb').val()])
                    .done(function (res) {
                        $('#merror').html('');
                        $('#mres').val(res);
                    })
                    .fail(function (error, message, trace) {
                        $('#merror').html('ERROR: ' + message);
                        console.log(trace);
                    });
                }
            </script>
            <a href="javascript:multiply()">Calculate!</a>

        </div>
        <div>
            <h3>Error management</h3>

            <input type="text" id="da" size="4" value="10" /> /
            <input type="text" id="db" size="4" value="0" /> =
            <input type="text" id="dres" size="7" value="?" disabled="disabled" />
            <span id="derror" style="color: red"></span>

            <br />

            <script type="text/javascript">
                function divide() {
                    achilles.action('example:divide', [$('#da').val(), $('#db').val()])
                    .done(function (res) {
                        $('#derror').html('');
                        $('#dres').val(res);
                    })
                    .fail(function (error, message, trace) {
                        $('#derror').html('ERROR: ' + message);
                        console.log(trace);
                    });
                }
            </script>
            <a href="javascript:divide()">Calculate!</a>
        </div>
    </div>
    <div class="sec" style="clear: both">
        <h1>Tables</h1>
        <div>
            {% ablock 'example:mytable' %}
        </div>
    </div>
    <div class="sec">
        <h1>Forms</h1>
        <div>
            {% ablock 'example:myform' %}
            <a href="javascript:achilles.block('example:myform').find('form').submit()">Send form!</a>
        </div>
    </div>


    <script src="/static/js/jquery.min.js"></script>
    {% achilles_js %}
  </body>
</html>
