language: python
python:
  - "2.7"
  - "3.2"
  - "3.3"
env:
#  - DJANGO=1.4.9 test database creation not working
  - DJANGO=1.5.5
  - DJANGO=1.6
matrix:
  exclude:
    - python: "3.2"
      env: DJANGO=1.5.5
    - python: "3.3"
      env: DJANGO=1.5.5
install:
  - pip install -q Django==$DJANGO
  - pip install -r requirements-dev.txt
  - cat requirements-npm.txt | xargs npm install
script:
  - make sense
after_success:
  - python report_coverage.py #--verbose
